<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../assets/stylesheets/application.css">
    <title>The Gossip Project</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">The Gossip Project</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <%= link_to "Home", root_path, :class => "nav-item nav-link" %> 
            <%= link_to "Team", team_path, :class => "nav-item nav-link active" %> 
            <%= link_to "Contact", contact_path, :class => "nav-item nav-link" %> 
          </div>
        </div>
      </nav>
      <h1 class="text-center mt-4 mb-4">La Dream Team</h1>
      <div class="text-center">
        <%= image_tag "meandtheboys.png", class: "img-fluid" %>
      </div>


</body>
</html>